#wrapper{
    max-width: 1200px;

}

header{
    display: flex;
    justify-content: space-between;

}
.topNav nav{
    /*display: none;*/
    clear:right; /*

}
#menu {
    float:right;
}
.programNav{
    clear: both;
}
.programNav{
    display:block;
    padding:10px;
    border:solid 1px white;

}

dropdown{
    display:none;
}
.programNav a{
    background-color: aqua;

}
.programNav li:hover .dropdown{
    display:block;
}
/*banner*/
.banner{
    padding:2em;
    height:200px;
    background: url("images/art-design.webp") no-repeat;
    background-color: cover;
}
.banner p{
    background-color: rgba(255,255,255,0);
    font-size: 1.5em;
    padding: 1em;
}
.btn{
    background-color:darksalmon;
    width:100px;
    background-color:rgba(100, 5, 5, 0);
    padding:0.5em;
    text-transform: uppercase;
    color:aliceblue;
    margin-top:1em;
    text-align:center;
    border-radius:10px;
    box-shadow:3px 3px 3px black;

}
section{
    margin: 2em 0;
}

article{
    margin: 1em 0;
}

article img{
     width:100%;
}
.date{
    margin-top: 0.5em;
}

footer{
    font-size: smaller;
}