#wrapper{
    max-width: 1200px;

}


.menu{
    display:none;
}
.show-menu{
    background-color: transparent;
    border:none;
    float:right;
}
body{
    margin:0.5em;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

p{
    margin-bottom: 1em;
    margin-top: 1em;
}

header{
    margin-bottom: 1em;
    /*display: flex;
    justify-content: space-between;*/

}

h1{
    float:left;
}

h1,h2, h3, strong{
    font-weight: bold;
}

a{
    color:burlywood;
}

h2{
    text-transform: uppercase;
    color:rgb(90, 6, 150);

}

/*.show-menu{
    display:none;
}*/
.menu{
    display: flex;
}

.topNav nav{
    display: none;
    clear:right; /* clears right floats */
    border:solid 1px #ccc;

}



.programNav a{
    display:block;
    padding:10px;
    border:solid 1px white;
}

.dropdown{
    display:none;
}

.dropdown a{

    background-color: rgb(165, 249, 249);
}


.programNav li:hover .dropdown{
    display:block;
}

/* #menu {
    float:right;
}*/
.programNav{
    clear: both;
}

.program-select{
     margin-bottom: 1em;
}
/*banner*/
.banner{
    padding:2em;
    padding-top: 3em;
    height:200px;
    background:url("images/design.png") no-repeat;
    background-color: cover;
    
}
.banner p{
    background-color: rgba(228, 226, 226, 0.925);
    font-size: 1.5em;
    padding: 1em;
}
.btn {
    background-color:darksalmon;
    width:100px;
    background-color:rgba(100, 5, 5, 0);
    padding:0.5em;
    text-transform: uppercase;
    color:rgb(250, 248, 250);
    margin-top:1em;
    text-align:center;
    border-radius:10px;
    box-shadow:3px 3px 3px black;
    

}
section{
    margin: 2em 0;
}

article{
    margin: 1em 0;
}

/*article img{
     width:100%;
}*/
.flexImg{
    width:100%;
}
.date{
    margin-top: 0.5em;
}

footer{
    font-size: smaller;
}

@media (min-width:768px){
    
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1em;
    }
    
}
.flex-container{
    display: flex;
}

.program-select{
    width:33%;
    position:relative;
}

.dropdown{
    position:absolute;
    width:100%;
}