#wrappe {
    max-width: 1200px;
  
}
header{
    padding:2em;
    /* backfround-color: #000; */
    /*background-image: url("images/the-west-wing-cast.jpg");
    background-repeat: no-repeat;
    background-position: top right;*/
    background: url(images/the-west-wing-cast.jpg) no-repeat top right; color: #000;
}
.lead{
    width:33%;
    color:#fff
}